:root {
  --fc-button-text-color: "inherit";
  --fc-button-bg-color: rgb(0, 0, 0, 0);
  --fc-button-border-color: rgb(0, 0, 0, 0);
  --fc-button-hover-bg-color: #1a307a4b;
  --fc-button-hover-border-color: #1a307a0b;
  --fc-button-active-bg-color: #1a307a;
  --fc-button-active-border-color: #1a307a;
  --fc-highlight-color: #9a8dff18;
  --fc-today-bg-color: #9a8dff18;
  --fc-event-border-color: rgb(0, 0, 0, 0);

  .fc {
    font-family: "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', "Roboto",
      '"Helvetica Neue"', "Arial", "sans-serif", '"Apple Color Emoji"',
      '"Segoe UI Emoji"', '"Segoe UI Symbol"' !important;
  }

  .fc-button-active {
    color: white !important;
  }

  .fc-view-harness {
    border-radius: 5px;
    font-size: 12px;
    td {
      border-color: #1a307a20 !important;
    }
  }

  .fc-list-event-time {
    // max-width: 80px;
  }

  .fc-button,
  .fc-col-header-cell,
  .fc-daygrid-day-number,
  .fc-event-title,
  .fc-list-day-text,
  .fc-list-day-side-text,
  .fc-list-event-time,
  .fc-list-event-title {
    font-size: 12px !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  .fc th {
    height: "1px" !important;
    font-size: "1px";
  }

  .fc-event-title-container {
    padding: 3px;
    padding-left: 6px;
    font-weight: normal;
  }

  .fc-toolbar-title {
    font-size: 16px !important;
  }

  .fc-popover {
    z-index: 3 !important;
  }

  .fc-daygrid-day-events {
    padding: 5px;
  }

  td.fc-day-past {
    background-color: #00000005 !important;
  }
}
